.App {
  text-align: center;
  background-image: url('../public/zun_><.png');
  background-size: 360px 360px; /* image size */
  animation: bg 15s infinite linear;
}
@keyframes bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 360px -360px;
  }
}
.background {
  background-image: url('../public/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  background-image: url('../public/header.png');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
